body {
    --inaltime-meniu: 25px;
    --latime-buton: 100px;
    --culoare-meniu: var(--culoare2);
    --culoare-meniu-selectat: var(--culoare5);
    --latime-bord-meniu: 1px;
}

ul.meniu {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		a {
			display: block;
			height: 100%;
			&:hover {
				background-color: var(--culoare-meniu-selectat);
			}
		}
		div {
			&:hover {
				background-color: var(--culoare-meniu-selectat);
			}
		}
	}
	>li {
		height: var(--inaltime-meniu);
		overflow: hidden;
		line-height: var(--inaltime-meniu);
		vertical-align: middle;
		border: var(--latime-bord-meniu) solid black;
		width: var(--latime-buton);
		text-align: center;
		&:hover {
			ul {
				animation-name: animatie_submeniu;
				animation-duration: 0.6s;
				animation-timing-function: linear;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}
			overflow: visible;
		}
		>a {
			&:hover {
				font-size: 20px;
			}
		}
	}
	ul {
		list-style-type: none;
		z-index: 10;
		position: relative;
		left: -1px;
		padding: 0;
		margin: 0;
		transform-origin: 50% 0;
		li {
			height: var(--inaltime-meniu);
			border: var(--latime-bord-meniu) solid black;
			width: var(--latime-buton);
			a {
				position: relative;
				&::before {
					content: " ";
					display: block;
					width: 6px;
					position: absolute;
					top: 0;
					left: 0;
					height: 0;
					background-image: linear-gradient(to left, var(--culoare1), var(--culoare2));
					transition: all 0.7s linear;
				}
				&::after {
					content: " ";
					display: block;
					width: 6px;
					position: absolute;
					top: 0;
					right: 0;
					height: 0;
					background-image: linear-gradient(to left, var(--culoare2), var(--culoare1));
					transition: all 0.7s linear;
				}
				&:hover {
					&::before {
						height: 100%;
					}
					&::after {
						height: 100%;
					}
				}
			}
		}
	}
	a {
		color: black;
		cursor: pointer;
		font-weight: bold;
		background-color: var(--culoare-meniu);
		text-decoration: none;
		transition: font-size 1s linear;
	}
	div {
		color: black;
		cursor: pointer;
		font-weight: bold;
		background-color: var(--culoare-meniu);
		text-decoration: none;
		transition: font-size 1s linear;
		&:hover {
			font-size: 20px;
		}
	}
}



@keyframes animatie_submeniu {  /* b) */
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
}

#hamburger, #ch-menu{
    display: none;
}

nav{
    height: var(--inaltime-meniu);
    background-color: var(--culoare-meniu);
    overflow: visible;
    position: relative;
    /* width: 100vw; */
    position: sticky;
    top: 0;
}