<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Prima pagina</title>

    <meta name="keywords" content="colaborare, partener, afiliere">
    <meta name="description" content="Firma de curierat.">

    <%- include("../fragmente/head.ejs") %>

</head>

<body>

    <%- include("../fragmente/header.ejs") %>
    <main>
        <section id="business">
            <h2>Business</h2>
            <p>Fii partenerul nostru în construirea celui mai bun serviciu de curierat. Poți să crești în ritmul tău și ai ajutor în dezvoltare prin acces la rețeaua AND Courier. Am construit un serviciu de calitate și o rețea națională care ne permite să îl oferim cât mai multor clienți. Suntem în continuă creștere și în căutare de colaborari oriunde în țară. Fie că ai o firmă de curierat sau o mașină de transport, poți intra în rețeaua de curierat AND Courier.</p>
            <div class="iframes">

                <div class="iframe-video">
                    <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/jC4rpHfZl-I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="taburi-iframe">
                    <a target="ifr-video" href="https://www.youtube.com/embed/jC4rpHfZl-I">Partener</a>
                    <a target="ifr-video" href="https://www.youtube.com/embed/TSnexuKzjuo">Comunitate</a>
                </div>
                
            
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
        </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>