<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Prima pagina</title>

    <meta name="keywords" content="istoric, locatie">
    <meta name="description" content="Firma de curierat.">

    <%- include("../fragmente/head.ejs") %>

</head>

<body>

    <%- include("../fragmente/header.ejs") %>
    <main>
        <section id="despre">
            <h2>Despre noi</h2>
            
            <section id="istoric">
                <h3>Istoric</h3>
                <p>Am intrat pe piața de curierat din România de peste 13 ani și oferim servicii standardizate și specifice. Pentru noi, expresia <i>„de azi pe mâine”</i> nu e un motiv de stres, ci un principiu care ne ghidează în fiecare acțiune pe care o întreprindem. Știm că avem la dispoziție 24 de ore ca să livrăm o comandă și reușim sa scurtam timpii de asteptare zi de zi, fără excepție.</p>
            </section>
            <br/>
            <section id="locatii">
                <h3>Locatii</h3>
                <ul>
                    <li><a href="https://goo.gl/maps/8HaXn6JRCBhMjGNcA" target="_blank" >Bucuresti</a></li>
                    <li><a href="https://goo.gl/maps/XEi5m74AbiXFUF3q7" target="_blank" >Brasov</a></li>
                    <li><a href="https://goo.gl/maps/tLtEkJpde85aKCFU9" target="_blank" >Timisoara</a></li>
                    <li><a href="https://goo.gl/maps/HyapJz3u85MNerj1A" target="_blank" >Cluj-Napoca</a></li>
                    <li><a href="https://goo.gl/maps/iN3XhTacrA196Zof8" target="_blank" >Iasi</a></li>
                    <li><a href="https://goo.gl/maps/yNYrcGDo2KXA37259" target="_blank" >Sibiu</a></li>
                </ul>
            </section>
            <br/>
            <br/>
            <br/>
        </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>