<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Prima pagina</title>

    <meta name="keywords" content="curier, livrare, urmarire colet, expediere colet ">
    <meta name="description" content="Firma de curierat.">

    <%- include("../fragmente/head.ejs") %>

</head>

<body>

    <%- include("../fragmente/header.ejs") %>
    <main>
        <section id="servicii">
            <h2>Servicii</h2>
            <p>Statutul de lider de piață, dobândit prin profesionalism, siguranță și rapiditate, este o garanție a calității serviciilor noastre, adaptate de fiecare dată cerințelor specifice ale clienților noștri.</p>
            <figure class="fig" style="width:25%;">
                <picture>
                    <source srcset="resurse/imagini/imagine1.jpg" media="(max-width: 700px)" />
                    <source srcset="resurse/imagini/imagine2.jpg" media="(max-width: 1200px)" />
                    <img src="resurse/imagini/imagine3.jpg" style="width:100%;" alt="copil zambind"/>    
                </picture>
                <figcaption style="text-align:center; color:blueviolet; width:100%">Curier</figcaption>
            </figure>
                
            <p>Suntem aici să-ți oferim cea mai bună soluție de livrare, oriunde, oricând, cu plăcere.</p>
            <br/>

            <section id="urmarire">
                <h3>Urmarire colet</h3>
                <p>Poți urmări livrarea și verifica locația coletelor introducand numarul <abbr title="Air Waybill">AWB</abbr>.</p>
                <form>
                    <input type="text" name="awb" placeholder="INTRODU NUMARUL AWB">
                    <input type="submit" value="Verifica AWB">
                </form>
            </section>
            <br/>
            
            <section id="expediere">
                <h3>Expediere colet</h3>
                <p>Vrei să trimiți coletul? Pur și simplu completeaza formularul! Nu există nimic mai ușor și mai convenabil!</p>
            </section>
            <br/>
            <br/>
            <br/>
        </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>