<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Prima pagina</title>

    <meta name="keywords" content="curier, livrare, urmarire colet, expediere colet ">
    <meta name="description" content="Firma de curierat.">

    <%- include("../fragmente/head.ejs") %>

</head>

<body>

    <%- include("../fragmente/header.ejs") %>
    <main>
        <section id="servicii">
            <h2>Servicii</h2>
            <p>ASTEPTAI UN SEMN CA SA TRIMITI IN SFARSIT COLETUL?</p>
            <p>La AND Courier ai preturi speciale ca sa trimiti tot ce vrei! Ce mai astepti?</p>
            <p>Inregistreaza-te, accceseaza contul si gestioneaza expedierea coletului.</p></p>
            <p>Suntem aici să-ți oferim cea mai bună soluție de livrare, oriunde, oricând, cu plăcere.</p>
            <br/>

            <section id="urmarire">
                <h3>Urmarire colet</h3>
                <p>Poți urmări livrarea și verifica locația coletelor introducand numarul <abbr title="Air Waybill">AWB</abbr>.</p>
            </section>
            <br/>
            
            <section id="expediere">
                <h3>Expediere colet</h3>
                <p>Vrei să trimiți coletul? Pur și simplu exploreaza pagina de produse si alege serviciul ideal! Nu există nimic mai ușor și mai convenabil!</p>
            </section>
            <br/>
            <br/>
            <br/>
        </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>