.mesaj-c{
    background:var(--culoare5);
    /* margin-left:var(--padding-intern); */
    min-height:5rem;
}
.mesaj-c h3{
    background:var(--culoare3);
    padding-left:1rem;
}
.mesaj-c p{
    padding-left:1rem;
}

main{
    padding: 0.5rem;;
}

.mesaj-c time{
    font-style: italic;
}