<footer>
    <a href="#"><div title="UP" id="link-top"><div id="sageata">&#129081</div></div></a>
    <address>
        <a id="tel" href="tel:+40123456789">Telefon</a>
        <a id="adresa" href="https://goo.gl/maps/UHRb8YAHJV3H95fY7" target="_blank" >Adresa</a>
        <a id="mail" href="mailto:cineva@gmail.com">Email</a>
        <a id="skype" href="skype:example123?chat">Skype</a>
    </address>
    <small>&copy; <time datetime="2022-10-10">10 Octombrie 2022</time> AND Courier</small>
</footer>